<FilesMatch "\.(html|htm|xml|txt|xsl|css|js)$">
  Header set Cache-Control "no-store, must-revalidate"
</FilesMatch>
Options All -Indexes
Options +FollowSymLinks
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ?src=$1 [L]